
<form [formGroup]="newTicketForm" (ngSubmit)="onSubmit()">
    <label>
        Departure City
        <input type="text" formControlName="departureCityName">
    </label>

    <label>
        Departure Date
        <input type="text" formControlName="departureDate">
    </label>

    <label>
        Arrival City
        <input type="text" formControlName="arrivalCityName">
    </label>

    <label>
        Arrival Date
        <input type="text" formControlName="arrivalDate">
    </label>

    <button type="submit">Submit</button>
</form>