<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Departure City</th>
      <th scope="col">Departure Date</th>
      <th scope="col">Arrival City</th>
      <th scope="col">Arrival Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ticket of tickets$ | async">
      <td>{{ ticket.departureCityName }}</td>
      <td>{{ ticket.departureDate }}</td>
      <td>{{ ticket.arrivalCityName }}</td>
      <td>{{ ticket.arrivalDate }}</td>
    </tr>
  </tbody>
</table>